html,body{
  width: 100%;
  height: 100%;
  background-color: #222;
}


.content{
  width:100%;
  height: 100%;
}

/* stage-- start */
.stage{
  position: relative;

  width: 100%;
  height: 680px;
}
/* stage-- end */

/* image --start */
.img-sec{
  position: relative;

  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ccc;

  perspective: 1800px;

  /**
   *放在此处,突出它与img-sec的层次关系,但多层层级导致的性能和可移植性
   *问题,使用Sass at-root指令 使样式块在文档的根目录,即与img-sec同一层 
   */
  @at-root {
      .img-figure{
        position:absolute;
        width: 320px;
        height: 360px;

        margin:0;
        padding: 40px;
        background-color: #ffffff;
        
        cursor: pointer;
        box-sizing: border-box;
        transform-style: preserve-3d; /*3D效果*/
        transform-origin: 0 50% 0;/* 三个值分别代表：x y z (默认值 50% 50% 0) 旋转中心默认在图形平面中的图形的中心位置 */
        transition: transform 0.6s ease-in-out,left 0.6s ease-in-out,top 0.6s ease-in-out;

        //&表示与img-figure同级的类名
        &.is-inverse{
          transform: translateX(320px) rotateY(180deg) ; /* transform: translate(320px) rotateY(180deg */
        }
      }

      figcaption{
        text-align: center;

        .img-title{
          margin:20px 0 0 0;
  
          color:#a7a0a2;
          font-size: 16px;
        }
  
        .img-back {
          position: absolute;
          top: 0;
          left: 0;
  
          width: 100%;
          height: 100%;
          padding: 50px 40px;
    
  
          color: #a7a0a2;
          font-size: 22px;
          line-height: 1.25;
          text-align: left;
  
          background-color: #fff;
  
          box-sizing: border-box;
          transform: rotateY(180deg) translateZ(1px);
          backface-visibility: hidden;

          p{
            margin:0;
          }
        }
      }
  }

}
/* image --end */

/* controller --start*/
.controller-nav{
  position: relative;
  left:0;
  bottom: 30px;
  /*
    设置导航图片的zIndex值的数量级为10的2次方
    设置中心图片的zIndex值得数量级10的1次方
    这样中心图片就会在其他图片前面不会被遮挡
  */
  z-index: 101; 
  width: 100%;
  text-align: center;
}
/* controller --end*/